.main-back.score{
    background-color: aliceblue;
    justify-content: flex-start;
    height: auto;
    min-height: 70%;
    max-height: 100%;
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
.content{
    width: 100%;
    height: 100%;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .container2 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  .container3 {
    flex: 0 0 auto;
    width: 60px;
    align-items: center;
    justify-content: center;
  }
  #RepeatLevel {
    fill: #598bb1;
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
  }
  #RepeatLevel:hover{
    cursor: pointer;
    transform: scaleX(1.1) scaleY(1.1);
  }

  #RepeatLevel:active{
    transform: scaleX(0.9) scaleY(0.9);
  }

  .NameLevel {
    color: #598bb1;
    width: auto;
    height: auto;
    font-size: 3em;
    align-self: center;
    text-align: center;
    font-family: "Bristol";
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: var(--dl-space-space-doubleunit);
  }

  
  #Name.dark-mode{
    color: white;
  }

  #listOfPlayers {
    width: 100%;
    text-align: center;
    margin-bottom: var(--dl-space-space-tripleunit);
    color: black;
    font-style: italic;
    font-size: 1.2em;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  #Name {
    display: block;
    margin-bottom: 5px;
  }

  @media(max-width: 785px) {

    .cta-btn.choice {
      width: auto;
    }
    .game-container {
      height: auto;
      min-height: 90vh;
    }
  }